<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donation form</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='donationform.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
</head>
<body>
    <a href="/"><img src="{{ url_for('static', filename='images/logo.png') }}"></a>
    <h1>Please fill this form to donate books</h1>
    <form action="/donationform" method="post">
        <input type="text" placeholder="Name" name="name" required>
        <input type="email" placeholder="email address" name="email" required>
        <input type="number" placeholder="Phone number" name="number" required>
        <input type="text" placeholder="book name" name="book name" required> 
        <textarea cols="20" rows="5" placeholder="address" name="address" required></textarea>
        <button type="submit">donate books</button>
    </form>
    <div>

    </div>

    
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>