<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>donation list</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='donationlist.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
</head>
<body>
    <a href="/"><img src="{{ url_for('static', filename='images/logo.png') }}"></a>
    <h1>This is a list of people who donated their books</h1>
    <table>
        <thead><tr>
            <th>Name</th>
            <th>Email</th>
            <th>Number</th>
            <th>Book name</th>
            <th>Address</th>
        </tr></thead>
        <tbody>
            {% for book in bookslist %}
            <tr>
                <td>
                    {{book.name}}
                </td>
                <td>
                    {{book.email}}
                </td>
                <td>
                    {{book.number}}
                </td>
                <td>
                    {{book.book}}
                </td>
                <td>
                    {{book.address}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>