<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
        </style>
</head>

<body>

    <a href="/"><img src="{{ url_for('static', filename='images/logo.png') }}" id="logo"></a>
    <div id="section1">
        <h1>Book donation</h1>
        <a href="/donationform"><button id="b1">Donate now</button>
        </a>
    </div>
    <div id="section2" >
        <a href="aboutme"><button class="testButton1"><img src="{{ url_for('static', filename='images/imgland5.jpeg') }}" alt="">About Us</button></a>
        
        <a href="topdonors"><button class="testButton2"><img src="{{ url_for('static', filename='images/topdonors.jpg') }}" alt="">Top Donor</button></a>    
    </div>
    <script src="{{ url_for('static', filename='home.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>