<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Donors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='topdonors.css') }}">
</head>
<body>
    <h1>Here are our top donors</h1>
    <div id="section4">
        <h2>top donors</h2>
        <table>
            <thead>
                <tr>
                    <th>Name of the donor</th>
                    <th>Total books donated</th>
                </tr>
            </thead>
            <tbody>
                {% for donor in topdonorslist %}
                <tr>
                    <td>{{donor[0]}}</td>
                    <td>{{donor[1]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{{ url_for('static', filename='home.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>